#surname {
    text-align: center;
    font-size:medium;
    font-family: "Lucida Sans Typewriter"

}

.it {
    text-indent: 1rem;
}

.about {
    border-radius: 1rem;
    text-align: center;
    padding-right: 0;
    margin: 0;
}

.body1 {
    border-radius: 2rem;
    margin: 1%;
    padding: 50px;
    border-style: solid;
    background-color: cornflowerblue;
    font-size: large;
}

.profile {
    margin: 4rem;
    font-size: x-large;
    font-style: italic;
    font-weight: bolder;
}

.personalworks{
    font-weight: lighter;
    font-style: oblique;
}

.summary {
    list-style: square;
    font-family: "sans-serif";
}
